storage/database.db
vendor
.idea
.DS_Store

frontend/node_modules/
frontend/dist/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend//test/unit/coverage/
frontend//test/e2e/reports/
frontend/selenium-debug.log
frontend/src/assets/logo.png
frontend/src/assets/logo.png
